<html>
<head>
<style type="text/css">
	.container{
		width:711px;
		height: 800px;
		float:left;
	}
	.logo{
		width: 711px;
		height: 150px;
		float: left;
	}
	.anuncio1,.anuncio2{
		width:160px;
		height:600px;
		float:left;
		background: #666;
	}
	.campo{
		width:391px;
		height:626px;
		background: url("static/img/campo.jpg");
		float:left;
	}
</style>
</head>
<body>
	<div class="container">
		<div class="logo">
			<img src="{{ STATIC_URL }}img/logo-make-team.png">
			<label>Digite o nome do seu amigo:</label>
			<input type="text" name="jogador" />
		</div>
		<div class="anuncio1">
		</div>
		<div class="campo">
		</div>
		<div class="anuncio2">
		</div>
	</div>


</body>
</html>

