<html>
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui.all.css">
	<script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.ui.core.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.ui.position.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.ui.autocomplete.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.ui.mouse.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.ui.draggable.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.ui.droppable.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css"> -->
	<script type="text/javascript" href="{{ STATIC_URL }}js/bootstrap.js"></script>
	<style type="text/css">
	.container{
		width:720px;
		height: 780px;
		float:left;
		border-radius: 17px;
		box-shadow:1px 1px 11px #ccc inset;
		background: #F9F9F9;
	}
	.logo{
		width: 711px;
		height: 150px;
		float: left;
	}
	.img-logo{
		float:left;
	}
	.topo-direito {
		height:120px;
		width:458px;
		float:left;
		padding: 15px;
	}
	.anuncio1,.anuncio2{
		width:160px;
		height:600px;
		float:left;
	}
	.campo{
		width:391px;
		height:626px;
		background: url("{{ STATIC_URL }}img/campo.jpg");
		float:left;
	}
	#banco-reserva{
		width:50px;
		height:50px;
		background:#ccc;
		border-radius:12px;
		border:1px dotted red;
		float:left;
		padding: 35px;

	}
	.botao{
		float:left;
		width: 124px;
		height: 28px;
		background: #019933;
		color: yellow;
		margin-top: 27px;
		line-height:26px;
		text-align:center;
		border-radius: 12px;
	}
	.botao:hover {
		cursor: pointer;
		color:#019933;
		background: yellow;
	}
	.botao:active{
		background:orange;
	}
	#compartilhar {
		margin-left: 10px;
	}
</style>
	
	<script type="text/javascript">
		$(function() {

		$( ".draggable" ).draggable({ revert: "valid" });
		$( ".draggable2" ).draggable({ revert: "invalid" });

		$( "#droppable" ).droppable({
			activeClass: "ui-state-hover",
			hoverClass: "ui-state-active",
			drop: function( event, ui ) {
				$( this )
					.addClass( "ui-state-highlight" )
					.find( "p" )
						.html( "Dropped!" );
			}
		});

		$( "#city" ).autocomplete({
			source: friends,
			minLength: 2,
			select: function( event, ui ) {
				//console.log($(".draggable2"));
				
				if ($(".draggable2").length < 11){
					
					for (var i=0;i < $(".draggable2").length; i++){
						if ($(".draggable2").eq(i).attr('data-id') == ui.item.id){
							alert("jogador já escalado!");
							return false;
						}
					}
					$("#banco-reserva").append("<img data-id='"+ ui.item.id +"' style='position:absolute;display:none' rel='tooltip' title='"+ ui.item.name +"' class='draggable2 ui-widget-content' src='http://graph.facebook.com/" + ui.item.id + "/picture' />");
					$( ".draggable2" ).draggable({ revert: "invalid" });
					setTimeout(function(){
						$("#banco-reserva img").fadeIn("slow");
						$("#city").val("");
					}, 1000);
				}else{
					alert("time completo");
				}
				
			}
		});
		$("#sortear").click(function(){
			arrayNumeros = new Array();
		    	arrayIds = new Array();
		    	$("#banco-reserva").html("");
		    	var contador = 0;
		    	// console.log(friends);
		    	for (k=0;k<1000;k++){
		    		var numero = Math.floor(Math.random()*(friends.length));
		    		if (numero in arrayNumeros){
		    			var a =1;
		    			
		    		}else{
		    			var id = friends[numero]['id'];
		    			var nome = friends[numero]['name'];
		    			arrayNumeros.push(numero);
		    			arrayIds.push({"id":id,"nome":nome});
		    			$("#banco-reserva").append("<img id='foto"+ (contador+1) +"' data-id='"+ id +"' style='position:absolute;top: "+ posicoes[contador].y +"px;left: "+ posicoes[contador].x +"px;display:none' rel='tooltip' title='"+ nome +"' class='draggable2 ui-widget-content' src='http://graph.facebook.com/" + id + "/picture' />");
		    			contador++;
		    		}
		    		if (arrayIds.length == 11){
		    			break;
		    		}

		    	}
		    	console.log(arrayIds.length);
		    	setTimeout(function(){
						$("#banco-reserva img").fadeIn("slow");
					}, 1000);
				$( ".draggable2" ).draggable({ revert: "invalid" });

		    	
		});

		$("#compartilhar").click(function(){
				dados = [];
				for (var i = 1; i < 12;i++){
					var id = $("#foto"+i).attr("data-id");
					var x = $("#foto"+i).css("left");
					var y = $("#foto"+i).css("top");
					dados.push({"id":id , "x":x , "y":y})
				}
				// console.log(data);
				$.ajax({
		     		type: "POST",
		     		url: "/compartilhar/",
		     		data: dados,
		     		dataType:"text",
		     		success: function(conteudo){    			
		     			
		     			console.log("ok");
		     		}
		     	});
		});


	});

	</script>

</head>
<body>
	
	<script type="text/javascript">
var friends = {{ friends|safe }}
var posicoes = [{"x":"256", "y":"230"},
				{"x":"417", "y":"230"},
				{"x":"339", "y":"330"},
				{"x":"249", "y":"412"},
				{"x":"431", "y":"412"},
				{"x":"333", "y":"522"},
				{"x":"186", "y":"556"},
				{"x":"490", "y":"556"},
				{"x":"271", "y":"647"},
				{"x":"412", "y":"647"},
				{"x":"340", "y":"723"}
				]
</script>
<div class="container">
		<div class="logo">
			<img class="img-logo" src="{{ STATIC_URL }}img/logo-make-team.png">
			<div class="topo-direito">
				<table>
					<tr>
						<td>
							<label style="font-size:13px">Faça seu time escalando e arrastando seus amigos para o campo</label>
						</td>
						<td rowspan="3">
							<div id="banco-reserva">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="demo" style="width:300px;float: left;">
							<div class="ui-widget">
								<div class="input-prepend">
									<span class="add-on"><i class="icon-user"></i></span>
									<input id="city" type="text" style="width:250px;height:28px;" />
								</div>
							</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<!-- <span id="sortear" class="botao">Sortear</span> -->
							<!-- <span id="compartilhar" class="botao">Compartilhar</span> -->
							<a href="#" rel='tooltip' title="Escalar time aleatoriamente" style="margin: 28px 0 0 28px" id="sortear" class="btn btn-primary"><i class="icon-random icon-white" style="margin-top:1px;"></i> Sortear</a>
							<a href="#" rel='tooltip' title="Compartilhar time no facebook" style="margin-top:28px;" id="compartilhar" class="btn btn-primary"><i class="icon-share icon-white"></i> Compartilhar</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="anuncio1">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-3904080299266142";
			/* maketeam2_left */
			google_ad_slot = "3828934729";
			google_ad_width = 160;
			google_ad_height = 600;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
		<div id="droppable" class="campo ui-widget-header">
		</div>
		<div class="anuncio2">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-3904080299266142";
			/* maketeam2_right */
			google_ad_slot = "3269083765";
			google_ad_width = 160;
			google_ad_height = 600;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>

		</div>
</div>



</body>
</html>
